[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
matplotlib = "*"
numpy = "*"
statsmodels = "*"
pandas = "*"
tensorflow = "*"
scikit-learn = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
